<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316373326911-ophalojie7bt9pnuehvfuo604vi05phb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316373326911-ophalojie7bt9pnuehvfuo604vi05phb</string>
	<key>API_KEY</key>
	<string>AIzaSyAsrffvFsbiXPDYhq_E9dkvZjsVn2FGLgg</string>
	<key>GCM_SENDER_ID</key>
	<string>316373326911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.windsoft.demonotification</string>
	<key>PROJECT_ID</key>
	<string>fbnotificationv7</string>
	<key>STORAGE_BUCKET</key>
	<string>fbnotificationv7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316373326911:ios:478764d549673de096ac8a</string>
</dict>
</plist>